<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArrastarSoltarHtmlCssJQuery</title>
</head>
<body>
    <h1>
        Como criar arrastar e soltar recursos para reordenar imagens usando HTML CSS e jQueryUI
    </h1>

    <b>Arraste e solte usando jQuery UI Ordenável</b>

    <div class="height"></div><br>

    <div id = "imageListId">
        
        <div id="img1" class = "listitemClass">
            <img src="" alt="">
        </div>

        <div id="img2" class = "listitemClass">
            <img src="" alt="">
        </div>

        <div id="img2" class = "listitemClass">
            <img src="" alt="">
        </div>

    </div>

    <div id="outputDiv">
        
        <b>Saída de IDs de imagens: </b>
        <input id="outputvalues" type="text" value="" />

    </div>

</body>
</html> 
